/*CSS file for lab 6*/

.banner{
    
    padding: 20px;
    height: 100px;
	width: 900px;
	margin: auto;
	position: relative;
	background-color: purple;
	font-size: 80px;
	font-weight: bold;
	color: white;
	
	
}

/*#DCDCDC*/
.search{
    background-color: #DCDCDC;
    height: 120px;
    width: 700px;
    margin-left:55px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 10px;
    font-family: Verdana, sans-serif;
	font-size: 15px;
	margin-top: 5px;
	border-bottom: 1px solid black;
}


#result{
    background-color: #DCDCDC;
    height: auto;
    width: 700px;
    /*margin:auto;*/
    margin-left: 55px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 10px;
    /*Enter different font styling*/
    font-family: Verdana, sans-serif;
	/*font-size: 25px;
	font-style: italic;
	margin-top: 5px;*/
}

#dictionary{
    background-color: #DCDCDC;
    /*height: 400px;*/
    height:auto;
    width: 900px;
    margin:auto;
    /*padding-right: 60px;*/
    padding: 20px;
    font-family: Verdana, sans-serif;
	/*font-size: 15px;*/
	font-style: italic;
	margin-top: 5px;
	/*border-bottom: 1px solid black;*/
}

#definition{
    
    font-size: 15px;
}


